@media  (max-width: 992px) {

  .mobileMenu {
    position: fixed;
    bottom: 0;
    width: 240px;
    height: 100%;
    margin: auto;
    left: -250px;
    z-index: 999;
    background: #576675;
    top: 4px;
  }

  .mobileMenu.active {
    left: 0;
}


  .mobileMenu ul a{
    height: 100%;
    width: 100%
    line-height: 65px;
    font-size: 22px;
    padding-left: 40px;
    box-sizing: border-box;
    border: 0;
    transition: .4s;
    padding: 10px
}

.mobileMenu ul li:hover a{
    padding-left: 50px; 
}

.overlay {
  position: fixed; 
  display: none; 
  width: 100%; /
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
}
.overlay.active {
    display: block;
    opacity: 1;
   
}

#sfc{
	color: white;
	background: none;
	border: none;
	outline: none;
}

#sfc:hover {
	outline: none;
	border: none;
}

.servicos{
	padding-bottom: 140px !important;
	padding-top: 30px !important;
	height: auto !important; 
	padding-bottom: 20px !important;
	padding-top: 20px;
}

}

.mobileMenu ul a i {
    margin-right: 5px;
}

.menu{
	background: #4e5b69;
	z-index: 999;
}

.carousel-inner{
	width: 100%;
	height: 100%;
}

.servicos, .servicos .card{
	background: #242426;
	color: #fff;
	height: auto;
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 0rem !important;

}

.servicos i{
	font-size: 30px;
	margin-right: 15px;
}

.servicos a {
	font-size: 22px;
}

.servicos a i:hover{
	color: red; 
	padding-left: 20px; 
}

.cardapio{
	background: white;
	margin-bottom: 0rem ;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 40px;
}

.c-cardapio a{
	font-size: 40px;
}

.cardapio .card{
	border: none;
	outline: none;

}

#cd,#cd2{
		border-bottom: 1px solid #000000;
}


.cardapio .card i:hover{
	border: none;
	outline: none;
	color: yellow;
	background: white;
}

#cd.active, #cd2.active{
	border-bottom: 2px solid yellow;
}

#cd:hover, #cd2:hover{
	border-bottom: 2px solid yellow;
}