@media  (max-width: 992px) {

  .mobileMenu {
    position: fixed;
    bottom: 0;
    width: 240px;
    height: 100%;
    margin: auto;
    left: -250px;
    z-index: 999;
    background: #576675;
    top: 4px;
  }

  .mobileMenu.active {
    left: 0;
}


  .mobileMenu ul a{
    height: 100%;
    width: 100%
    line-height: 65px;
    font-size: 22px;
    padding-left: 40px;
    box-sizing: border-box;
    border: 0;
    transition: .4s;
    padding: 10px
}

.mobileMenu ul li:hover a{
    padding-left: 50px; 
}

.overlay {
  position: fixed; 
  display: none; 
  width: 100%; /
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer; 
}
.overlay.active {
    display: block;
    opacity: 1;
   
}

#sfc{
	color: white;
	background: none;
	border: none;
	outline: none;
}

#sfc:hover {
	outline: none;
	border: none;
}

.servicos{
	padding-bottom: 140px !important;
	padding-top: 30px !important;
	height: auto !important; 
	padding-bottom: 20px !important;
	padding-top: 20px;
}

}

.mobileMenu ul a i {
    margin-right: 5px;
}

.menu{
	background: #4e5b69;
	z-index: 999;
}

.carousel-inner{
	width: 100%;
	height: 100%;
}

.servicos, .servicos .card{
	background: #242426;
	color: #fff;
	height: auto;
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 0rem !important;

}

.servicos i{
	font-size: 30px;
	margin-right: 15px;
}

.servicos a {
	font-size: 22px;
}

.servicos a i:hover{
	color: red; 
	padding-left: 20px; 
}


.cardapio-button .card{
	border: none;
	background: #4e5b69;
}

.cardapio-button .card p{
	font-size: 25px;
}

.cardapio-button .card p:hover{
	color: white;
}

.card-img{
	width: 230PX;
	height: 200px;
	margin: auto;
}

.cardapio {
	border: none;
	outline: none;
}

.cardapio .card{
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img:hover{
  transform: scale(1.1);
}

.btn-cardapio, .btn-cardapio:focus{
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	background: white;
}

.cardapio .card{
	color: black;
}

.testemunhos{
	color: black;
	background: white;
	text-align: center;
	padding: 30px 30px 50px;
	margin: 0 15px 100px;
	position: relative;
	margin-bottom: 140px;
	
}

.testemunhos:before,
.testemunhos:after{
	content: "";
	border-top: 40px solid white;
	border-right: 125px solid transparent;
	position: absolute;

	bottom: -40px;
	left: 0;
}

.testemunhos:after{
	border-right: none;
	border-left: 125px solid transparent;
	left: auto;
	right: 0;
}

.testemunhos i{
	display: inline-block;
	font-size: 80px;
	color: #f28a0b;
	margin-bottom: 20px;
	opacity: 0.6;
}

.testemunhos .descricao{
	font-size: 16px;
	color: #777;
	text-align: justify;
	margin-bottom: 30px;
	opacity: 0.9;
	letter-spacing: -1px;
}

.testemunhos .testemunhos-conteudo{
	width: 100%;
	position: absolute;
	left: 0;
}

.testemunhos .pic{
	display: inline-block;
	border: 6px solid white;
	border-radius: 50%;
	box-shadow: 0 0 2px #f4770b;
	overflow: hidden;
	
	position: relative;
}

.testemunhos .pic img{
	width: 100%;
	height: auto;
}

.testemunhos .title{
	font-size: 15px;
	font-weight: bold;
	color: black;
	text-transform: capitalize;
	margin: 0 0 5px 0;
}

.pic img{
	width: 100px !important;
	height: 50px;
}

.testemunhos-inicio{
	background: orange;
}

.vinho{

	width: 100%;
	height: 100%;
}

.noticias-conteudo i{
	font-size: 60px;
	text-align: center;
	color: #DB3E07;
}

.noticias-conteudo .card-body{
	text-align: center;

}

.noticias .card{
	border: none;
	outline: none;
}

.noticias, .noticias .card-deck{
	background: #FF8E06;
	border: none;
	outline: none;
	
}

.btn-noticias{
	background: #FFAD03;
	color: white;
	border-radius: 50px;
}